<!-- <mat-carousel [animation]="'slide'">
  <mat-carousel-item>
    <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(130).jpg" alt="First slide">
  </mat-carousel-item>
  <mat-carousel-item>
    <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(129).jpg" alt="Second slide">
  </mat-carousel-item>
  <mat-carousel-item>
    <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(70).jpg" alt="Third slide">
  </mat-carousel-item>
</mat-carousel> -->
<div class="mat-elevation-z6 "  >
<angular-image-slider [images]="imagesUrl"></angular-image-slider>
</div>




