<mat-card style="width: 50%" class="margin">
    <mat-card-header>
            
        <mat-card-title>
            <span *ngIf="LocationType.id">Edit LocationType</span> 
            <span *ngIf="!LocationType.id">New LocationType</span> 
    </mat-card-title>
    </mat-card-header>
    <mat-card-content>
     <form>
         <mat-form-field>
                    <input [(ngModel)]="LocationType.code" name="locTyCode"  matInput placeholder="Locationtype Code"  >
         </mat-form-field>
         <br>
         <mat-form-field>
                    <input [(ngModel)]="LocationType.name" name="locTyName"  matInput placeholder="Locationtype Name"  >
         </mat-form-field>
     </form>
            
    </mat-card-content>
    <mat-card-actions>
            <button *ngIf="LocationType.id"  (click)="locTypeApi.PutLocationType(LocationType)" mat-button style="background-color: lightgray">Edit</button>
            <button *ngIf="LocationType.id" (click)="LocationType={}" mat-button style="background-color: lightgray">New</button>
            <button *ngIf="!LocationType.id" (click)="locTypeApi.PostLocationType(LocationType)" mat-button style="background-color: lightgray">save</button>
    </mat-card-actions>
 
</mat-card>



